<html lang="en">
<head>
  <%= stylesheet_link_tag 'https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css' %>
</head>
<body>
  <div class="container">
    <div class="<%=flash.empty? ? 'px-4 py-5 my-2' : 'px-4 pb-5 mb-5' %> text-center">
      <%= render "shared/flash_messages" %>
      <h1 class="display-5 fw-bold" style="color: #003262">Edit Scholarship</h1>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-sm">
          <div class="card-body">
            <%= render 'admins/scholarships/form', scholarship: @scholarship %>
          </div>
        </div>
        
        <div class="d-flex justify-content-center mt-4">
          <%= link_to "Back to Scholarships", manage_scholarships_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html> 