<html lang="en">
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light berkeley-color">
    <div class="container">
      <%= link_to "Home", root_path, method: :get, class: "btn btn-outline-primary", style: "color: darkgray; border-color: darkgray;"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-label="Expand Navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Check In".html_safe, checkin_path, class: "nav-link", style:"color: darkgray;"%>
          </li>
          <li class="nav-item">
            <%= link_to "Make Appointments".html_safe, appointments_path, method: :get, class: "nav-link", style:"color: darkgray;"%>
          </li>
          <li class="nav-item">
            <%= link_to "Scholarships".html_safe, scholarships_path, class: "nav-link", style:"color: white;"%>
          </li>
          <li class="nav-item">
            <%= link_to "Courses".html_safe, courses_path, class: "nav-link", style:"color: darkgray;"%>
          </li>
          <li class="nav-item">
            <%= link_to "Events".html_safe, events_path, class: "nav-link", style:"color: darkgray;"%>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="<%=flash.empty? ? 'px-4 py-5 my-2' : 'px-4 pb-5 mb-5' %> text-center">
      <%= render "shared/flash_messages" if defined?(render_flash) && render_flash %>
    </div>
    <h1 class="display-5 fw-bold text-center" style="color: #003262">Scholarships &amp; Awards</h1>
    
    <div class="row mt-4">
      <div class="col-12">
        <h2>Scholarship Opportunities for Re-entry Students</h2>
        <p>The Re-entry Student Program offers two scholarships: <b>Crankstart</b> for newly admitted students, 
           and <b>Osher</b> for continuing students.</p>
        <p>Applications for the 2024 Osher Scholarship opened in May 2024 and closed in July 2024.  
        We will open the Osher Scholarship for continuing students again in <b>May 2025</b>. </p>
        <p>Applications for the 2024 Crankstart Scholarship opened in August 2024 and 
        closed in October 2024.  We will open the Crankstart Scholarship for new students again in August 2025. </p>
      </div>
    </div>
    
    <div class="mt-4">
      <% @scholarships.each do |scholarship| %>
        <div class="card mb-4">
          <h3 class="card-header"><%= scholarship.name %></h3>
          <div class="card-body">
            <div class="card-text">
              <%= simple_format(scholarship.description) %>
  
              <% if scholarship.application_url.present? %>
                <%= link_to scholarship.status_text.presence || "Apply Now",
                            scholarship.application_url,
                            class: "btn btn-primary",
                            target: "_blank" %>
              <% else %>
                <p><b><%= scholarship.status_text.presence || "Information not available" %></b></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    
      <% if @scholarships.empty? %>
        <div class="alert alert-info">
          <p>There are currently no scholarships listed.</p>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="d-flex justify-content-center mt-5 mb-3">
    <%= link_to "Back", root_path, method: :get, class: "btn btn-secondary btn-lg" %>
  </div>
</body>
</html>
