<html lang="en">
<div class="container">
  <br></br><h1 class="display-5 fw-bold" style="color: #003262;" align="center">Courses</h1><br></br>
  
  <% @courses.each do |course| %>
    <h2 class="col-6-sm" style="color: #003262;">Transition Course:</h2>
    <div class="row">
      <h3 class="col-6-sm">Independent Students in Higher Education: <br> <%= course.title %> (<%= course.code %>)</h3>
      <p>The Re-entry Student Program offers a 1-unit P/NP transition course every Fall and Spring semester for first-year students seeking holistic support in navigating their first year at Cal.</p>
    </div>
    
    <% if course.semester.present? %>
      <div class="row">
        <h3 class="col-6-sm"><%= course.semester %>:</h3>
        <li>
          <strong><%= course.schedule %> <% if course.ccn.present? %>(CCN#: <%= course.ccn %>)<% end %></strong>
        </li>
        <p><b>Location: <%= course.location %></b></p>
      </div>
    <% end %>
    <br></br>
    <div class="row">
      <div class="card">
        <h4 class="card-header"><%= course.code %>: <%= course.units %></h4>
        <div class="card-body">
          <div class="card-text">
            <p><%= course.description %></p>
            <div align="center">
              <% if course.code == "L&S 198" %>
                <img src="<%= asset_path('198_info.png') %>" alt="Take our 198 course to manage university workload, explore opportunities, and build community.." rescue nil %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <hr class="col mt-5 mx-auto"/>
  <div class="col-lg-6 mt-5 mx-auto" align="center">
    <%= link_to "Back", root_path, class:"btn btn-secondary btn-lg my-4", style:"color:#003262" %>
  </div>
</div>
</html>
